*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.padre{
  background: url("../../img/ProductosPrimeraPagina/fondo.jpeg");
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenidoFormulario{
  z-index: 1;
  background: rgb(255, 255, 255);
  padding: 40px 20px;
  margin: 20px 10px;
  border:  2px solid #000;
  border-radius: 7px;
  text-align: center;
}
.logoImg{
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 3px;
  border:  1px solid #000;
}
.tituloIS{
  margin-bottom: 20px;
}
.barrasDeInformacion{
  width: 100%;
  max-width: 400px;
  padding: 8px;
  display: block;
  margin-bottom: 5px;
  border: 1px solid #000;
  border-radius: 10px;

}
.barrasDeInformacion:focus{
  border: 1px solid #5799ff;
}
.organizar{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.buttonEnviar{
  border-radius: 10px;
  border: 2px solid #000;
  padding: 3px;
  width: 300px;
  background:#aaffcd;
  opacity: .7
}
.buttonEnviar:hover{
  background: #2dff83;
  opacity: 1;
}
@media screen and (max-width: 420px) {
  /* .padre{
    display: none;
  } */
  .contenidoFormulario{
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: 0;
  }
  .barrasDeInformacion{
    width: 100%;
  }
}
