*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.bg-dark{
  background: #0BC984 !important;
}
.nav-link{
  color: #000 !important;
}
.mr-auto{
  position: absolute;
  right: 0;
}
.titulo{
  color: #000 !important;
}
.header{
  background: #fdbd00;
  padding: 5px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contenedorLista {
  margin: 0;
  display: flex;
  list-style: none;
}
.listado {
  background-color: #fcc12b;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 10px;
  margin: 3px;
  position: relative;
  color: #000;
}
.dropdown-menu.show{
  background-color: #fff;
  padding: 3px 0;
  height: auto;
  width: 100%;
}
.enlaces{
  color: #000;
  text-decoration: none;
  list-style: none;
}
.enlaces:hover{
  text-decoration: none;
  list-style: none;
  color: #000;
}
.listado:hover{
  cursor: pointer;
  border: 1px solid #000;
}
.todoMenu{
  display: flex;
  align-items: center;
}
.logoTitulo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logoTitulo:hover{
  cursor: pointer;
}
.titulo{
  font-size: 35px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0;
}
.logoImg{
  width: 5s0px;
  height: 5s0px;
  border-radius: 3px;
  border:  1px solid #000;
  margin-bottom: 0;
}
.infoMenu{
  display: none;
}
.activacion{
  display: none;
}
.imagenDeUsuario{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto 10px;
}
.imagenDeUsuario:hover{
  cursor: pointer;
}

@media screen and (max-width:800px) {
    .logoImg{
      display: none;
    }
    .mr-auto{
      position: static;
    }
    .todoMenu{
      order: 2;
      z-index: 5;
    }
    .contenedorInicio{
      display: flex;
      width: 100%;
      justify-content:center;
    }
    .logoTitulo{
      display: none;
    }
    .encerrandoListado{
      height: 40px;
    }
    .header div .contenedorInicio .contenedorLista{
      flex-direction: column;
      width: 100%;
      padding-right: 5px;
    }
    .header div .contenedorInicio .contenedorLista .listado{
      padding: 3px;
      border:none;
      border-bottom: 1px solid #000;
      width: 100%;
      display: flex;
    }
    .infoMenu{
      width: 100%;
      display: block;
    }
    .infoMenu img{
      height: 50px;
    }
    .activacion{
      display: block;
    }
    .imagenDeUsuario{
      display: none;
    }
    .children{
      width: 100%;
      position: relative;
    }
}
/* @media screen and (max-width: 605px) {
  .header div .contenedorInicio .contenedorLista{
    width: 450px;
  }
} */
