.pieDePagina{
  background: #0f0f0f ;
  font-size: 12px;
  color: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.compañia p{
  margin-bottom: 0;
}
.este{
  border-right: 1px solid #ccc;
}
.parteContenido{
  width: 30%;
  margin: 10px auto;
}
.formularioContacto p{
  margin:0;
}
.formularioContacto button{
  background: #df6600;
  padding: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 7px;
}
.formularioContacto button:hover{
  background: #ffb16f;
}
.derechos{
  background: #000;
  width: 100%;
  text-align: center;
}
.derechos p{
  margin-bottom: 0;
}
